@model Sem3_exam.Mains.Models.TestJob

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TestJob</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.department_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.number_of_personals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.number_of_personals)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.department_code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
